<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
				<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
				<!-- Bootstrap styles -->
				<link href="{{ site.baseurl }}/assets/themes/bootstrap-3/bootstrap/css/bootstrap.min.css" rel="stylesheet">
				<!-- Optional theme -->
				<link href="{{ site.baseurl}}/assets/themes/bootstrap-3/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    </head>
    <body>
