<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
				<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="{{ site.baseurl }}/css/light-table.css">
				<!-- Bootstrap styles -->
				<!-- <link href="{{ site.baseurl }}/assets/themes/bootstrap-3/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
				<!--	<link href="{{ site.baseurl}}/assets/themes/bootstrap-3/css/style.css?body=1" rel="stylesheet" type="text/css" media="all"> -->


    </head>
    <body>
				<div id="wrap">
						<div class="container">
								<div class="row">
